body {
  margin: 0;
  padding: 0;
}

#table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  font-size: 0.9em;
  margin: 50px auto 0 auto;
  min-width: 640px;
}

#table tbody tr {
  border-bottom: 1px solid #ddd;
}

#table tbody tr:last-of-type {
  border-bottom: 2px solid #0077B6;
}

#table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#table thead tr {
  background-color: #0077B6;
  color: #fff;
  text-align: left;
}

#table td, #table th {
  padding: 12px 15px;
}

@media only screen and (max-width: 640px) {
  #table {
    margin: 0;
    min-width: unset;
    width: 100%;
  }
}
